header {
    background-color: #fff;
    padding: 10px 20px;
   
    display: flex;
    justify-content: center;
}

nav {
    background-color: #fff;
    position: sticky;
    top:0;
    z-index: 1000;
    border-radius: 30px; 
    padding: 10px 140px;
    display: flex;
    align-items: center;
    border: 0.5px solid black;
    
}
.logo img {
    height: 40px;
    margin-right: 250px;
    margin-left: -100px; 
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #f0f0f0;
}

.contact-button {
    background-color: #00A859;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.contact-button:hover {
    background-color: #007a43;
}
.info1{
    display: flex;
    border: 2px solid black;
    margin-top: 30px;
    height: 550px;
    color:black;
}

.info1 ul{
margin-left: 80px;
font-size: 1.3rem;

}
.man{
    left:0;
}
@keyframes moveForward {
    0% { left: 0; }
    100% { left: 23%; }
}
.move {
    animation: moveForward 5s linear infinite;
}
.footer{
    display: flex;
    height: 400px;
    
}