/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body {
    font-family: "Manrope", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #f8f8f8;
    padding: 10px 20px;
}

.navbar-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    position: relative;
    z-index: 100;
   
  }
  
  
  .navbar {
    background-color: #fff;
    box-shadow: 5px 5px 45px 0px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    padding-right: 20px;
    margin: 0 auto;
    width: 90%;
    position: fixed;
    top: 38px;
    z-index: 50;
  }
  
  .navbar-brand img {
    height: 25px;
    margin-left:2%;
  }
  
  .navbar-menu {
    position: relative;
  }
  
  .navbar-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .navbar-menu ul li {
    display: flex;
    align-items: center;
  }
  
  .navbar-menu ul li a {
    text-decoration: none;
    color: #1e572c;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
  }
  
  .navbar-menu .underline {
    position: absolute;
    bottom: 5%;
    height: 2px;
    background: linear-gradient(to right, #222826, #066DB7, #61C977);
    width: 0;
    transition: all 0.3s ease;
  }
  
  .navbar-menu ul li a.contact-button {
    border-radius: 30px;
    background-color: #28a745;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 24px;
    transition: all 0.3s ease;
  }
  
  .navbar-menu ul li a.contact-button:hover {
    background-color: black;
    color: #fff;
  }
  
  .navbar-dropdown {
    display: none;
    position: fixed;
    top: 50px; /* Adjust this value to match the height of your navbar */
    left: 0;
    width: 100vw; /* Use viewport width */
    height: auto; /* Let it grow based on content */
    max-height: calc(100vh - 50px); /* Subtract navbar height from viewport height */
    background-color: #fff;
    overflow-y: auto; /* Add scrolling if content is too long */
    z-index: 49; /* Just below the navbar */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  
  .navbar-dropdown.active {
    display: block;
    
  }
  
  
  
  .navbar-container .navbar {
    position: relative;
  }
  
  .navbar-dropdown nav ul {
    list-style: none;
    padding: 20px;
    margin: 0;
  }
  
  .navbar-dropdown nav ul li {
    margin-bottom: 10px;
  }
  
  .navbar-dropdown nav ul li a {
    position: relative;
    text-decoration: none;
    color: #1e572c;
    font-weight: 600;
    font-size: 16px;
    display: block;
    padding: 10px;
  }
  
  .navbar-dropdown nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -10%; /* Adjust this value to position the line below the text */
    left: 0;
    background: linear-gradient(to right, #222826, #066DB7, #61C977);
    transition: width 0.3s ease;
  }
  
  .navbar-dropdown nav ul li a:hover {
    color: darkgreen;
  }
  
  .navbar-dropdown nav ul li a:hover::after {
    width: 120px;
  }
  
  
  
  
  
  
  .contact-button1 {
    margin-inline:auto;
    border-radius: 10px;
    background-color: lightgreen;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
  
  .menu-icon {
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    display: none;
  }
  
  .menu-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #1e572c;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .menu-icon span:nth-child(1) {
    top: 25%;
  }
  
  .menu-icon span:nth-child(2) {
    top: 75%;
  }
  
  .menu-icon.open span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  
  .menu-icon.open span:nth-child(2) {
    top: 50%;
    transform: rotate(-45deg);
  }
  
/* Careers Intro Section */
.careers-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    
    margin-left:10%;
}

.headline {
    flex: 1;
    padding-right: 20px;
  
}

.headline h1 {
    font-size:50px;
    font-weight: bold;
    color: black; /* Set the default color to black */
    margin-bottom: 20px;
    margin-top:-5%;
    margin-left:-15%;
}

.headline h1 .gradient-text {
    background: linear-gradient(45deg, #066DB7, #79B9E8); /* Replace with your colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.headline p {
    font-size: 28px;
    line-height: 1.5;
    color: #222826;
    font-weight:bold;
    margin-left:-15%;
}

.headline-image {
    flex: 1;
    text-align: center;
}

.headline-image img {
    max-width: 150%;
    height: 10%;
    border-radius: 10px;
    margin-left:-30%;
    margin-top:-24%;
}
.clouds2image{
    margin-left:-72%;
    margin-bottom:-18%;
    margin-top:-8%;
}
.gradient-line {
    height: 3px;
    width: 380px;
    border-radius: 25px;
    margin-right:100px;
    margin-left:-15%;
   

    background: linear-gradient(to right,#222826,#066DB7,#61C977    );
    margin-top:5%;
    
    
}

/* Careers Info Section */
.careers-info {
    text-align: center;
    padding: 50px;
    background-color: #ffffff;
    margin-top:-5%;
}

.careers-info h2 {
    margin-bottom: 40px;
    color: #222826;
    font-size: 48px;
    font-weight: semibold;
}

.info-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.info-box1, .info-box2, .info-box3 {
    background-color: #D8F1FF;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 950px;
    height: 437px;
    margin-bottom: 2%;
}

.info-box2 {
    background-color: #C4F0D0;
    width: 975px;
}

.info-box3 {
    background-color: #F7F5F2;
    margin-bottom: 10%;
    border:none;
    outline:none;
}

.info-box1 h3, .info-box2 h3, .info-box3 h3 {
    font-size: 30px;
    color: black;
    margin-bottom: 10px;
    font-weight: medium;
    font-family: 'Poppins', sans-serif;
}

.info-box1 h4, .info-box2 h4, .info-box3 h4 {
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
    font-weight: medium;
}

.info-box1 li, .info-box2 li {
    font-size: 16px;
    color: black;
    margin-bottom: 10px;
    font-weight: medium;
}

.info-box3 h4 {
    font-size: 18px;
}
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #ffffff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    color:#1E572C;
    font-size: 18px;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    height: 30px;
    margin-left:30%;
}

.close {
    color: #000;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

h2 {
    text-align: center;
    margin-bottom: 20px;

}

#applicationForm input,
#applicationForm textarea {
    width: 90%;
    padding: 10px;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:20px;

    border: 1px solid #5FA470;
    border-radius: 10px;
    font-size: 14px;

}
#applicationForm input{
    background-color:#F7F5F2;
    color:#1E572C;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-row input[name="location"] {
    width: 48%;
}

.file-upload {
    width: 38%;
    margin-right:2%;
    font-size:12px;
}

.file-upload label {
    display: inline-block;
    padding: 10px;
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

.file-upload input[type="file"] {
    display: none;
}


#applicationForm textarea {
    height: 100px;
    resize: vertical;
    color:#1E572C;

}

#applicationForm button {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    margin: 20px 0 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 30%;
    margin-left:60%;
    align-items: right;
    font-size: 16px;
}

#applicationForm button:hover {
    background-color: #333333;
}



/* Footer Styles */
footer {
    background-color: #F2F2F2;
    color: black;
    padding: 20px 0;
    margin-left: 10%;
    margin-top: 3%;
    margin-right: 5%;
}

.footer-sections {
    display: flex;
    justify-content: space-around;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.social-media-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media-icons a {
    margin: 0 10px; /* Adjust the spacing between icons */
}

.social-media-icons img {
    width: 30px; /* Adjust the width of the icons */
    height: auto; /* Maintain aspect ratio */
}

#Copy {
    margin-left: 36%;
    margin-top: 5%;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .careers-intro {
        flex-direction: column;
    }

    .headline,
    .headline-image {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .headline {
        margin-bottom: 20px;
    }

    .info-row {
        flex-direction: column;
        align-items: center;
    }

    .info-box {
        width: 80%;
        margin-bottom: 20px;
    }
}
.apply-button {
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 24px;
    margin-top: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.apply-button:hover {
    background-color: #333;
}










.office-info {
    text-align: center;
    padding: 50px;
    background-color: #ffffff;
    
    background-color: #61C977;
}

.office-info .info-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    margin-left:10%;
}

.office-info .office-info-text {
    flex: 1;
    text-align: left;
}

.office-info .office-info-text h3 {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
}

.office-info .office-info-text p {
    font-size: 16px;
    color: white;
}

.office-info .office-info-text address {
    margin-top: 10px;
    font-style: normal;
    color:white;
    margin-right:5%;
}

.office-info .office-info-map {
    flex: 1;
    text-align: center;
}

.office-info .office-info-map img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
footer {
    background-color:#ffffff;
    color: black;
    padding: 20px 0;
    
    
    margin-top: 3%;
    }
    
    .footer-sections {
    display: flex;
    justify-content: space-around;
    margin-left:10%;
    background-color: #ffffff;
    }
    
    .footer-section {
    flex: 1;
    padding: 0 20px;
    }
    
    .footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    }
    
    .footer-section ul {
    list-style-type: none;
    padding: 0;
    }
    
    .footer-section ul li {
    margin-bottom: 5px;
    }
    
    .footer-section img {
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    }
    
    .social-media-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .social-media-icons a {
    margin: 0 10px; /* Adjust the spacing between icons */
    }
    
    .social-media-icons img {
    width: 30px; /* Adjust the width of the icons /
    height: auto; / Maintain aspect ratio */
    }
    
    #Copy {
    margin-left: 36%;
    margin-top: 5%;
    }
    .separator {
    width: 1px; /* Width of the separator */
    background: linear-gradient(to bottom, #222826,#066DB7,#61C977); /* Gradient colors */
    margin: 0 10px; /* Adjust spacing between sections */
    }
    .sep{
    width: 1px; /* Width of the separator */
    background: linear-gradient(to bottom, #222826,#066DB7,#61C977); /* Gradient colors */
    margin: 0 10px; /* Adjust spacing between sections */
    
    }
    .sepvm{
        width: 3px; /* Width of the separator */
    background: linear-gradient(to bottom, #222826,#066DB7,#61C977); /* Gradient colors */
    margin: 0 10px; /* Adjust spacing between sections */
    
    
    }
    #circle1{
        margin-left:91%;
        width:10%;
        margin-bottom:-15%;
        margin-top:5%;
    }
    #circle2{
        margin-left:-105%;
        margin-bottom:-5%;
        margin-top:-25%;
        width:8%;
    }
    #half{
        margin-left:10%;
        margin-bottom:-5%;
        transform: rotate(270deg); /* Rotate the arrow 180 degrees */

    }
    #greenfull{
        margin-left:95%;
        width:10%;
        margin-top:-50%;
       

    }
footer {
    background-color: #ffffff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
    margin-top:5%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-left:-5%;
    margin-right:5%;

}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-basis: 70%;
}

.link-column {
    flex-basis: 18%;
}

.link-column h4 {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
}

.link-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.link-column ul li {
    margin-bottom: 8px;
}

.link-column ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.footer-brand {
    flex-basis: 25%;
    text-align: right;
}

.footer-brand img {
    max-width: 180px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid #000;
    border-radius: 12px;
    padding: 5px;
    width: fit-content;
    margin-left: 38%;
}

.social-icons a {
    margin-top:5%;
    margin-left: 20px;
    margin-right:10px;
}

.social-icons img {
    width: 20px;
    height: 20px;
}

.footer-copyright {
    text-align: center;
    margin-top: 40px;
    margin-bottom:-2%;
    font-size: 12px;
    color: #666;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-links {
        flex-wrap: wrap;
    }

    .link-column {
        flex-basis: 45%;
        margin-bottom: 20px;
    }

    .footer-brand {
        text-align: center;
        margin-top: 20px;
    }

    .social-icons {
        margin: 10px auto 0;
    }
}

@media (max-width: 480px) {
    .link-column {
        flex-basis: 100%;
    }
}
