
body{
    background-color:#FBFDFA;
}


@media (max-width:1024px){
    .footer-sections {
        margin-left: 5%;
    }
    
    .footer-section {
        min-width: 120px;
    }
}
@media (max-width:768) {
    .footer-sections {
        justify-content: flex-start;
        margin-left: 0;
    }
    
    .footer-section {
        flex-basis: calc(50% - 20px);
    }
    
    .separator {
        display: none;
    }
    
}
@media (max-width: 480px) {
    .footer{
    }
    .footer-content {
        flex-direction: column;
        margin-left: 5%;
        margin-right: 5%;
    }

    .footer-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
    }

    .link-column {
        flex-basis: auto;
        margin-bottom: 0;
    }

    .footer-brand {
        text-align: center;
        margin-top: 30px;
    }

    .social-icons {
        justify-content: center;
        margin: 20px auto 0;
    }

    .social-icons a {
        margin: 0 10px;
    }
    .separator{
        display:none;
    }
}
    




  
  @media (max-width: 1440px) {
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 5%;
        margin-bottom: 20%;
        margin-top: -2%;
        overflow: hidden;
        gap:8%;
    }
    .circle-container2{
        display:none;
    }
  }
  @media (max-width: 1740px) {
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 4%;
        margin-bottom: 20%;
        margin-top: -2%;
        overflow: hidden;
        gap:8vw;
        max-width:100%;
    }
    .right-content img {
        margin-right: 0;
        max-width: 100px;
        margin: 0;
        margin-left: -120px;
        width: 1900.53px;
        height: 450px;
        margin-top:3%;
        margin-bottom:5%;
    }
    #nexttext1{
        weight:291px;
        height:30px;
        font-weight:bold;
        font-size:22px;
        margin-bottom:-2%;
    }
    #nexttext2{
        
        font-weight: bold;
        font-size:48px;
    }
    .circle-container2{
        display:none;
    }
  }
  @media (max-width: 1940px) {
    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 3%;
        margin-bottom: 20%;
        margin-top: -2%;
        overflow: hidden;
        gap:10vw;
        max-width:100%;
    }
    .left-content {
        height: auto;
        width: 100%;
        max-width: 660px;
        margin-top:5%;
        margin-left:-1%;

    }
    .right-content img {
        margin-right: 0;
        max-width: 130%;
        margin: 0;
        margin-left: -210px;
        margin-right:19.5%;
        width: 3500.53px;
        height: 460px;
        margin-top:3%;
        margin-bottom:5%;
    }
    #nexttext1{
        weight:291px;
        height:30px;
        font-weight:bold;
        font-size:22px;
        margin-bottom:-1%;
    }
    #nexttext2{
        
        font-weight: bold;
        font-size:48px;
    }
    .circle-container2{
        display:none;
    }
  }
  /* Existing styles remain unchanged */




/* Responsive styles */
@media screen and (max-width: 1200px) {
    body {
        overflow-x: hidden;
    }

    .content {
        flex-direction: column;
        margin-left: 0;
        margin-bottom: 10%;
    }

    .left-content, .right-content {
        width: 100%;
        padding-left: 0;
        margin-top: 20px;
    }

    .left-content {
        height: auto;
        width: 100%;
        max-width: 660px;
        margin-top:4%;

    }

    

    .right-content {
        margin-top: 20px;
    }

    

    .left-content h1 {
        font-size: 2.5em;
    margin: -22px 0;
    white-space: nowrap;
    }

    .left-content h3 {
        font-size: 16px;
        margin-left:5%;
        order: 3;

    }

    .left-content p, .left-content li {
        font-size: 14px;
        margin-left:5%;
        order: 3;

    }

    .left-content .btn {
        font-size: 14px;
        padding: 8px 16px;
        margin-left:5%;
        order: 3;

    }
    .right-content img {
        max-width: 80%;
        height: auto;
        width: auto;
        margin-left: 20%;
        align-items: center;
        margin-top:-2%;
        order: 2;
    }
    .image-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left:2%;
        margin-right:2%;
       
    }
    
    
    .image-row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:10%;
        margin-right:10%;
    }
    #i1{
        max-width:250%;
        margin-left: 105%;
        padding:0;
        margin-top:50%;

    
       
    }
    #i2{
        font-size: 10px;
        max-width:-2%;
        margin-left:-10%;
        margin-right:-100%;
       
    }
    #middleimage{
        padding:0;
        max-width: 200%;
        max-height: 10%;
        margin-left:35%;
        margin-bottom:35%;


    }

    #i3{
    
        max-width:150%;
        margin-right:155%;
        margin-left:-105%;
    
    
    }
    #i4{
        max-width:120%;
       
    

    }
    #i5{
        max-width:140%;
    }
    #arr{
        width: 8%;
        height:6%;
        margin-left:35%;
        

        transform: rotate(180deg); /* Rotate the arrow 180 degrees */
    
    }
    #arrow1{
       
        width: 8%;
        height:6%;
        margin-right:20%;
        margin-left:25%;

        
        transform: rotate(180deg); /* Rotate the arrow 180 degrees */
        object-position: float;
    
    }
    #arrow2{
        width: 8%;
        height:8%;
        margin-left:15%;
        margin-right:8%;
    }
    
    
    #arrow3{
       
        width: 8%;
        height:8%;
        transform: rotate(300deg); /* Rotate the arrow 180 degrees */
        
    
    }
    .image-container {
        position: relative;
        margin: 0 20px; /* Increase margin for more spacing */
        text-align: center; /* Center align the text below the images */
        width: 20%; /* Adjust as needed */

    }
    
    .image-container img {
        width: 200%; /* Adjust as needed */
        height: auto;
        margin-right: 60px;
    }
    #image1text {
        font-size: 18px; /* Adjust font size as needed */
        color: #333; /* Text color */
        margin-left:160%;
       
        font-weight: bold;
    }
    #image3text{
        font-size: 18px; /* Adjust font size as needed */
        color: #333; /* Text color */
        font-weight: bold;
        margin-top:5%;
        margin-right:200%;
        margin-left:-130%;
    
    }
    #image4text{
        font-size: 18px; /* Adjust font size as needed */
        margin-left:10%;
        margin-right:100%;



    }
    #image5text{
        font-size:18px;
    }
    .gree{
        font-size:17.5px;
        margin-left:-463%;
        margin-right:-455%;
        margin-top:30%;
    }
    .flex-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 0;
        padding: 20px;
    }

    .learn-image {
        width: 80%;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .learn-content {
        margin-right: 0;
    }

    #learn1, #learn2, #learn3 {
        font-size: 18px;
        margin: 10px 0;
    }

    #learn2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .learn-content .btn {
        width: 80%;
        font-size: 16px;
    }

    .learn-content .btn.learn-more,
    .learn-content .btn.reserve-tube {
        width: 60%;
        height: auto;
    }
    #em2 {
        font-size: 40px;
    }
    
    .image-item {
        width: 230px;
        height: 344px;
    }
    .circle-container{
        display:none;
    }
   
    .circle-container{
        display:none;
    }
    .textcenter {
        font-size: 20px;
    }
    .quote-section {
        margin-left: 10%;
        margin-right: 10%;
    }
    .get-in-touch-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .form-wrapper {
        width: 80%;
        margin-left: 0;
        margin-top: 20px;
    }

    #getinheader1, #getinheader2, #getinheader3 {
        margin-left: 0;
    }

    .contact-form {
        margin-right: 0;
    }

    .submit-btn {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
   
    .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .left-content, .right-content {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .right-content {
        order: 1;
        margin: 20px 0;
    }

    .right-content img {
        max-width: 100%;
        height: auto;
        margin: 0;
    }

    .left-content h1 {
        font-size: 28px;
        line-height: 1.2;
        margin: 10px 0;
    }

    .image-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left:10%;
        margin-right:10%;
       
    }
    
    
    .image-row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:10%;
        margin-right:10%;
    }
    #i1{
        max-width:230%;
        margin-left:150%;
        padding:0;
        margin-top:50%;

    
       
    }
    #i2{
        font-size: 10px;
        max-width:-2%;
        margin-left:-10%;
        margin-right:-100%;
       
    }
    #middleimage{
        padding:0;
        max-width: 200%;
        max-height: 10%;
        margin-left:-15%;
        margin-bottom:35%;


    }
    #i3{
    
        max-width:150%;
        margin-right:155%;
        margin-left:-135%;
    
    
    }
    #arr{
        width: 8%;
        height:6%;
        margin-left:35%;
        

        transform: rotate(180deg); /* Rotate the arrow 180 degrees */
    
    }
    #arrow1{
       
        width: 8%;
        height:6%;
        margin-right:20%;
        margin-left:15%;

        
        transform: rotate(180deg); /* Rotate the arrow 180 degrees */
        object-position: float;
    
    }
    #arrow2{
        width: 8%;
        height:8%;
        margin-left:15%;
        margin-right:8%;
    }
    
    
    #arrow3{
       
        width: 8%;
        height:8%;
        transform: rotate(300deg); /* Rotate the arrow 180 degrees */
        
    
    }
    .image-container {
        position: relative;
        margin: 0 20px; /* Increase margin for more spacing */
        text-align: center; /* Center align the text below the images */
        width: 20%; /* Adjust as needed */

    }
    
    .image-container img {
        width: 200%; /* Adjust as needed */
        height: auto;
        margin-right: 60px;
    }
    #image1text {
        font-size: 12px; /* Adjust font size as needed */
        color: #333; /* Text color */
        margin-left:160%;
       
        font-weight: bold;
    }
    #image3text{
        font-size: 12px; /* Adjust font size as needed */
        color: #333; /* Text color */
        font-weight: bold;
        margin-top:5%;
        margin-right:200%;
        margin-left:-130%;
    
    }
    #image4text{
        font-size: 12px; /* Adjust font size as needed */
        margin-left:10%;
        margin-right:100%;



    }
    #image5text{
        font-size:12px;
    }
    .gree{
        font-size:13.5px;
        margin-left:-463%;
        margin-right:-455%;
        margin-top:30%;
    }
    .flex-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 0;
        padding: 20px;
    }

    .learn-image {
        width: 80%;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .learn-content {
        margin-right: 0;
    }

    #learn1, #learn2, #learn3 {
        font-size: 18px;
        margin: 10px 0;
    }

    #learn2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .learn-content .btn {
        width: 80%;
        font-size: 16px;
    }

    .learn-content .btn.learn-more,
    .learn-content .btn.reserve-tube {
        width: 80%;
        height: auto;
    }
    .empower {
        margin-left: 2%;
        margin-right: 2%;
    }
    
    #em1, #em2, #em3 {
        text-align: left;
    }
    
    #em2 {
        font-size: 32px;
    }
    #em3 {
        font-size: 14px;
        margin-right:10%;
    }
    
    .image-scroll-wrapper {
        justify-content: flex-start;
    }
    
    .image-item {
        width: 180px;
        height: 270px;
    }
    .image-title {
        font-size: 12px;
        width:170px;
        height:10px;
    }
    .circle-container{
        display:none;
    }
   
    
    .btn {
        display: block;
        width: 80%;
        margin: 10px auto;
    }
    
    .calculate-now {
        margin-left: auto;
    }
    
   
    .circle-container{
        display:none;
    }
    .textcenter {
        font-size: 18px;
    }
    
    #textcenter {
        margin-left: 0;
    }
    
    #header1, #header2, #header4 {
        margin-left: 0;
    }
    .quote-section {
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .quote-text {
        font-size: 26px;
    }
    
    .quote-author {
        font-size: 20px;
    }
    #getinheader1 {
        font-size: 40px;
    }

    #getinheader2, #getinheader3 {
        font-size: 16px;
    }

    .contact-form input,
    .contact-form textarea {
        width: 90%;
    }
    .carbon-calculator {
        padding: 30px;
        margin: 20px auto;
        margin-left:4%;
        margin-right:4%;
    }

    .carbon-calculator h1 {
        font-size: 1.8em;
    }

    .subtitle {
        font-size: 0.9em;
    }

    .launch-text {
        font-size: 0.9em;
    }

    .know-more-btn {
        padding: 8px 16px;
        font-size: 0.6em;
    }


}

@media screen and (max-width: 480px) {
    body {
        overflow-x: hidden;
    }
    .navbar-brand img {
        margin-left:10%;
        height: 25px;
      }
    .content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .left-content{
        padding:0;
        margin:0;
    }

    .left-content h1 {
        font-size: 1.2em;
        text-align:left;
        margin-left:5%;
        order: 1;
        display: flex;
    }

    .left-content h3 {
        font-size: 14px;
        margin-left:5%;
        order: 3;
        

    }

    .left-content p, .left-content li {
        font-size: 12px;
        margin-left:5%;
        order: 3;

    }

    .left-content .btn {
        font-size: 12px;
        padding: 8px 8px;
        margin-left:5%;
        order: 3;
        width:30%;

    }
    .left-content h1:nth-child(2) {
        margin-top: -10px; /* Adjust this value as needed */
    }
    .right-content img {
        max-width: 100%;
        height: auto;
        width: auto;
        margin-left: 20%;
        align-items: center;
        margin-top:-2%;
        order: 2;
    }
    .image-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
    
    
    .image-row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:20%;
        margin-right:20%;
    }
    #i1{
        max-width:200%;
        margin-left:150%;
        height:690%;
        padding:0;
        margin-top:50%;

    
       
    }
    #i2{
        font-size: 8px;
        max-width:-2%;
        margin-left:-10%;
        margin-right:-100%;
       
    }
    #middleimage{
        padding:0;
        max-width: 200%;
        height:5%;
        margin-left:-15%;
        margin-bottom:5%;


    }
    #i3{
    
        max-width:150%;
        margin-right:155%;
        margin-left:-135%;
        height:5%;
    
    
    }
    #i4{
    
        max-width:200%;
        margin-right:155%;
        margin-left:-65%;
        height:5%;
    
    
    }
    #i5{
    
        max-width:250%;
        margin-right:155%;
        margin-left:-65%;
        height:5%;
    
    
    }
    #arr{
        width: 6%;
        height:6%;
        margin-left:35%;
        

        transform: rotate(180deg); /* Rotate the arrow 180 degrees */
    
    }
    #arrow1{
       
        width: 6%;
        height:6%;
        margin-right:20%;
        margin-left:15%;

        
        transform: rotate(180deg); /* Rotate the arrow 180 degrees */
        object-position: float;
    
    }
    #arrow2{
        width: 8%;
        height:8%;
        margin-left:8%;
        margin-right:8%;
    }
    
    
    #arrow3{
       
        width: 6%;
        height:6%;
        transform: rotate(300deg); /* Rotate the arrow 180 degrees */
        
    
    }
    .image-container {
        position: relative;
        margin: 0 20px; /* Increase margin for more spacing */
        text-align: center; /* Center align the text below the images */
        width: 20%; /* Adjust as needed */

    }
    
    .image-container img {
        width: 200%; /* Adjust as needed */
        height: auto;
        margin-right: 60px;
    }
    #image1text {
        font-size: 8px; /* Adjust font size as needed */
        color: #333; /* Text color */
        margin-left:160%;
       
        font-weight: bold;
    }
    #image3text{
        font-size: 8px; /* Adjust font size as needed */
        color: #333; /* Text color */
        font-weight: bold;
        margin-top:5%;
        margin-right:200%;
        margin-left:-130%;
    
    }
    #image4text{
        font-size: 8px; /* Adjust font size as needed */
        margin-left:-45%;
        margin-right:100%;



    }
    #image5text{
        font-size:8px;
    }
    .gree{
        font-size:8px;
        margin-left:-475%;
        margin-right:-455%;
        margin-top:-15%;
    }
    .next{
        margin-left:5%;
        margin-right:5%;
        margin-top:5%;
    }
    #nexttext1{
        font-size:14px;
        margin-bottom:-8%;
    }
    #nexttext2{
        font-size:22px;
    }
    #nexttext3{
        font-size:8px;
    }
    .flex-container{
        margin-top:5%;
        margin-bottom:15%;
    }
   

    #learn1, #learn2, #learn3 {
        font-size: 16px;
    }

    #learn2 {
        font-size: 20px;
    }

    .learn-content .btn {
        width: 80%;
        font-size: 14px;
        

    }

    .learn-content .btn.learn-more,
    .learn-content .btn.reserve-tube {
        width: 60%;
        height: auto;
    }
    .form-wrapper {
        width: 95%;
    }

    #getinheader1 {
        font-size: 32px;
    }

    #getinheader2, #getinheader3 {
        font-size: 14px;
    }

    .submit-btn {
        width: 90%;
    }
    .learn-image{
        width:120%;
    }
    .learn-image2{
        width:80%;


    }
    #learn3{
        font-size:12px;
    }
   
    .dot{
        width:6px;
        height:6px;
    }
    .carbon-calculator {
        padding: 10px;
        border-radius: 15px;
        margin-left:4%;
        margin-right:4%;
    }

    .carbon-calculator h1 {
        font-size: 1.3em;
    }

    .subtitle {
        font-size: 0.6em;
    }
    

    .launch-text {
        font-size: 0.8em;
    }

    .know-more-btn {
        padding: 6px 12px;
        font-size: 0.5em;
    }
        .report-image img {
        margin-bottom:1.6%;
    }


    
    
    
    
}


@media (max-width: 992px) {
    .empower {
        margin-left: 4%;
    }
    
    #em2 {
        font-size: 36px;
    }
    
    #em3 {
        font-size: 16px;
    }
    
    .image-item {
        width: 200px;
        height: 300px;
    }
    .circle-container{
        display:none;
    }
   
    
    
    .circle-container{
        display:none;
    }
    #textcenter {
        margin-left: -6%;
    }
    
    #header1, #header2 {
        margin-left: 4%;
    }
    
    #header4 {
        margin-left: 5%;
    }
    .quote-section {
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .quote-text {
        font-size: 30px;
    }
}


@media (max-width: 576px) {
    #em1 {
        margin-top:12%;
        font-size: 16px;
        text-align: left;
    }
    
    #em2 {
        font-size: 24px;
        text-align: left;

    }
    
    #em3 {
        font-size: 12px;
        text-align: left;
        margin-right:10%;

    }
    
    .image-item {
        width: 150px;
        height: 225px;
    }
    
    .image-title {
        font-size: 12px;
        width:120px;
        height:5px;
    }
    .circle-container{
        display:none;
    }
    
    
   
    .circle-container{
        display:none;
    }
    .quote-section {
        margin-left: 0;
        margin-right: 0;
    }
    
    .quote-text {
        font-size: 14px;
    }
    
    .quote-author {
        font-size: 18px;
    }
    
    .quote-content::before,
    .quote-content::after {
        width: 50px;
        height: 50px;
    }
    .textcenter {
        font-size: 16px;
    }
    
    .textcenter h1 {
        font-size: 1.3em;
    }
}

