/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


.content-wrapper {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    width: 100%;
    height: 100%;
  
    overflow-x: hidden; 

}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


header {
    background-color: #FBFDFA;
    padding: 10px 20px;
    margin-bottom: 0;

}

.navbar-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    position: relative;
    z-index: 100;
   
  }
  
  
  .navbar {
    background-color: #fff;
    box-shadow: 5px 5px 45px 0px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    padding-right: 20px;
    margin: 0 auto;
    width: 90%;
    position: fixed;
    top: 38px;
    z-index: 50;
  }
  
  .navbar-brand img {
    height: 25px;
    margin-left:20%;

  }
  
  .navbar-menu {
    position: relative;
  }
  
  .navbar-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .navbar-menu ul li {
    display: flex;
    align-items: center;
  }
  
  .navbar-menu ul li a {
    text-decoration: none;
    color: #1e572c;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
  }
  
  .navbar-menu .underline {
    position: absolute;
    bottom: -40%;
    height: 2px;
    background: linear-gradient(to right, #222826, #066DB7, #61C977);
    width: 0;
    transition: all 0.3s ease;
  }
  
  .navbar-menu ul li a.contact-button {
    border-radius: 30px;
    background-color: #28a745;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 24px;
    transition: all 0.3s ease;
  }
  
  .navbar-menu ul li a.contact-button:hover {
    background-color: black;
    color: #fff;
  }
  
  .navbar-dropdown {
    display: none;
    position: fixed;
    top: 50px; /* Adjust this value to match the height of your navbar */
    left: 0;
    width: 100vw; /* Use viewport width */
    height: auto; /* Let it grow based on content */
    max-height: calc(100vh - 50px); /* Subtract navbar height from viewport height */
    background-color: #fff;
    overflow-y: auto; /* Add scrolling if content is too long */
    z-index: 49; /* Just below the navbar */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  
  .navbar-dropdown.active {
    display: block;
    
  }
  
  
  
  .navbar-container .navbar {
    position: relative;
  }
  
  .navbar-dropdown nav ul {
    list-style: none;
    padding: 20px;
    margin: 0;
  }
  
  .navbar-dropdown nav ul li {
    margin-bottom: 10px;
  }
  
  .navbar-dropdown nav ul li a {
    position: relative;
    text-decoration: none;
    color: #1e572c;
    font-weight: 600;
    font-size: 16px;
    display: block;
    padding: 10px;
  }
  
  .navbar-dropdown nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -40%; /* Adjust this value to position the line below the text */
    left: 0;
    background: linear-gradient(to right, #222826, #066DB7, #61C977);
    transition: width 0.3s ease;
  }
  
  .navbar-dropdown nav ul li a:hover {
    color: darkgreen;
  }
  
  .navbar-dropdown nav ul li a:hover::after {
    width: 120px;
  }
  
  
  
  
  
  
  .contact-button1 {
    margin-inline:auto;
    border-radius: 10px;
    background-color: lightgreen;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
  
  .menu-icon {
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
    display: none;
  }
  
  .menu-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #1e572c;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .menu-icon span:nth-child(1) {
    top: 25%;
  }
  
  .menu-icon span:nth-child(2) {
    top: 75%;
  }
  
  .menu-icon.open span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  
  .menu-icon.open span:nth-child(2) {
    top: 50%;
    transform: rotate(-45deg);
  }
  
  
    
  
  
  


.content-wrapper {
    padding: 20px;
    overflow: hidden;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 20%;
    margin-top: -2%;
    overflow: hidden;
}

.left-content, .right-content {
    width: 45%;
    padding-left: 20px;
    text-align: left;
}

.left-content {
    margin-top: 4%;
    font-size: 22px;
    width: 660px;
    height: 164px;
    margin-top: -20%;
}

#carboncapture {
    font-weight: bold;
}

#l1 {
    font-weight: medium;
    padding-left: 20px;
}

.left-content h1 {
    margin: -22px 0;
    white-space: nowrap;
    order: 1;
}

.left-content h3 {
    font-size: 18px;
    margin-top: 5%;
    order: 3;

}

.left-content p, .left-content li {
    font-size: 18px;
    width: 330px;
    height: auto;
    margin-bottom: 10px;
    
}

.left-content > *:not(.btn) {
    margin-bottom: 10px;
}

.left-content .btn {
    display: inline-block;
    background-color: #222826;
    color: white;
    padding: 10px 20px;
    border-radius: 37px;
    text-decoration: none;
    margin-top: 14px;
    text-align: center;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    height:20px;
}

.left-content .btn:hover {
    background-color: #333;
}

.right-content {
    text-align: left;
    margin-right: -12%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110%;
    margin-top: 2%;
}

.right-content img {
    margin-right: 0;
    max-width: 500px;
    margin: 0;
    margin-left: -120px;
    width: 1600.53px;
    height: 809px;
    margin-top:3%;
    margin-bottom:5%;
}

.underline {
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.gradient-line {
    height: 3px;
    width: 90%;
    max-width: 1100px;
    border-radius: 25px;
    margin: 20px auto;
    background: linear-gradient(to right, #222826, #066DB7, #61C977);
}

.green-text {
    color: #61C977;
}

.gree {
    color: #81984C;
    font-size: 18px;
    font-weight: bold;
    margin-left: -10%;
}


.next {
    text-align: center;
    margin-top:-12%;
   
}
#nexttext1{
    weight:291px;
    height:30px;
    font-weight:bold;
    font-size:22px;
    margin-bottom:-3%;
}
#nexttext2{
    
    font-weight: bold;
    font-size:48px;
}
#nexttext3{
    font-weight:450;
    font-size:18px;
    margin-left:25%;
    margin-right:20%;

}
.image-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom:10%;
}

.image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.image-container {
    position: relative;
    margin: 0 20px; /* Increase margin for more spacing */
    text-align: center; /* Center align the text below the images */
    
}

.image-container img {
  
    margin-right: 60px;
}

#image1text {
    margin-top: 10px; /* Space between the image and text */
    font-size: 18px; /* Adjust font size as needed */
    color: #333; /* Text color */
    margin-left:10%;
    font-weight: bold;
    margin-right:-90%;
}
#image3text{
    margin-top: 10px; /* Space between the image and text */
    font-size: 18px; /* Adjust font size as needed */
    color: #333; /* Text color */
    margin-left:-25%;
    font-weight: bold;
    margin-right:30%;

}
#i2{
    font-size: 12px;
    margin-bottom:4%;
    margin-left:2;
    margin-right:-8%;
    font-weight:bold;
}
#i1{
    margin-left:55%;
    width:236px;
    margin-right:40%;
}
#middleimage{
    width:240px;
    height:215px;
    margin-left:12%;
    margin-bottom:15%;
    margin-top:20%;
}
#i3{

    width:280px;
    height:280px;
margin:0;
padding:0;
margin-left:-50%;
margin-right:30%;

}
#i4{
    width:200px;
    height:180px;
margin:0;
padding:0;
margin-left:30%;
margin-right:30%;


}
#i5{
    width:280px;
    height:180px;
margin:0;
padding:0;
margin-left:10%;
margin-right:30%;

}
#arr{
    width: 84px;
    height:47px;
    margin-left:15%;
    transform: rotate(180deg); /* Rotate the arrow 180 degrees */
    object-position: float;

}
#arrow1{
   
    width: 84px;
    height:47px;
    margin-right: 12%;
    margin-left:2%;
    transform: rotate(180deg); /* Rotate the arrow 180 degrees */
    object-position: float;

}
#arrow2{
    width: 84px;
    height:47px;
    margin-right: 15%;
    margin-left:25%;
}


#arrow3{
   
    width: 54px;
    height:47px;
    margin-right: -55%;
    transform: rotate(300deg); /* Rotate the arrow 180 degrees */
    

}






.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #E3DBD6;
    margin-top: -8%;
    padding-left: 0;
}

.learn-image {
    width: 50%;
    height: auto;
    margin-left: 0;
    margin-top: 5%;
    padding: 0;
}

#learn1 {
    font-size: 22px;
    margin-bottom: -5%;
    font-weight: bold;
}

#learn2 {
    font-size: 50px;
    margin-bottom: 5%;
    font-weight: bold;
}

#learn3 {
    font-size: 18px;
    font-weight: medium;
}

.learn-content {
    margin-right: 5%;
}

.learn-content .btn {
    display: inline-block;
    color: black;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 10px;
    font-size: 18px;
}

.learn-content .btn:hover {
    background-color: darkgreen;
}

.learn-content .btn.learn-more {
    background-color: #61C977;
    width: 27%;
    height: 24%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.learn-content .btn.reserve-tube {
    border-color: #04AA6D;
    color: black;
    border: 2px solid green; /* Green border */
    width: 27%;
    height: 24%;
    font-size: 17px;
    font-weight: bold;
}
.empower {
    margin-left: 6%;
    margin-top: 8%;
    text-align: left;
}

#em1 {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: -2%;
}

#em2 {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 2%;
}

#em3 {
    font-weight: medium;
    font-size: 18px;
    margin-bottom: 30px;
    margin-right:50%;
}

.empower p {
    font-size: 20px;
}

.carousel-container {
    position: relative;
    width: 100%;
    margin-left: 0;
    overflow: hidden;
    margin-bottom: 10%;
}

.image-scroll-wrapper {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
}

.image-scroll-wrapper::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.image-scroll {
    display: flex;
    scroll-snap-align: center;
}

.image-item {
    position: relative;
    flex: 0 0 auto;
    width: 270px;
    height: 404px;
    margin-right: 1%;
}

.image-item img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.image-title {
    background-color: #ffffff;
    color: #333333;
    text-align: left;
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 89%;
    border-radius: 0 0 15px 15px;
    font-size: 18px;
    font-weight: bold;
}

.carousel-dots {
    text-align: center;
    padding-top: 30px;
}

.dot {
    height: 8px;
    width: 8px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.3s ease;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
    transform: scale(1.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.bioenergy { background-color: rgb(36, 168, 216); }
.chemical { background-color: rgb(132, 216, 244); }
.fertilizer { background-color: rgb(154, 202, 64); }
.food { background-color: rgb(239, 107, 55); }
.cement { background-color: rgb(229, 136, 100); }





.carbon-calculator {
    background-color: #DAF8E0;
    padding: 40px;
    font-family: Arial, sans-serif;
    text-align: center;
    border-radius: 20px;
    max-width: 800px;
    margin: 40px auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  
  .container {
    max-width: 100%;
  }
  
  .subtitle {
    color: #333;
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: bold;
  }
  
 .carbon-calculator h1 {
    font-size: 2.2em;
    color: black;
    margin: 10px 0;
    font-weight: bold;
  }
  
  .launch-text {
    font-weight: bold;
    margin: 10px 0 20px;
    font-size: 1em;
    text-transform: uppercase;
  }
  
  .know-more-btn {
    background-color: white;
    border: 1px solid #61C977;
    color: black;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.7em;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'Inter', sans-serif;
    font-weight: bold;

  }
  
  .know-more-btn:hover {
    background-color: #00a86b;
    color: white;
  }
  
  .report-image {
    margin-top: 30px;
    max-width: 100%;
    margin-bottom:-5%;
  }
  
  .report-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(27, 22, 22, 0.1);
  }
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;
}

.popup-overlay.active {
    visibility: visible;
    opacity: 1;
}

.popup-form {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    width: 90%;
    max-width: 450px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    box-sizing: border-box;
    max-height: 90vh; /* Allows the popup to use up to 90% of the viewport height */
    overflow: auto; /* Adds a scrollbar if necessary */
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.popup-header img {
    height: 30px;
}

.close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #888;
    position: absolute;
    top: 10px;
    right: 10px;
}

.popup-form h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.popup-form p {
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
}

.popup-form input,
.popup-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 14px;
    background-color: #F7F5F2;
    color: #1E572C;
}

.popup-form textarea {
    height: 80px;
    resize: vertical;
}

.submit-btn {
    background-color: #000;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #333;
}

/* Media Queries */
@media (max-width: 480px) {
    .popup-form {
        padding: 20px;
        width: 95%;
    }

    .popup-form input,
    .popup-form textarea {
        padding: 10px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    .popup-form h2 {
        font-size: 20px;
    }

    .popup-form p {
        font-size: 12px;
    }

    .submit-btn {
        padding: 10px 16px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .popup-form {
        padding: 25px;
        width: 90%;
    }

    .popup-form input,
    .popup-form textarea {
        padding: 11px;
        margin-bottom: 11px;
        font-size: 13px;
    }

    .popup-form h2 {
        font-size: 22px;
    }

    .popup-form p {
        font-size: 13px;
    }

    .submit-btn {
        padding: 11px 18px;
        font-size: 15px;
    }
}



.big-circle {
    width: 160px;
    height: 160px;
    border: 8px solid #B8FEA4;
    border-radius: 50%;
    top: 0;
    left: 0;
    position: absolute; /* Add this to ensure proper positioning */
    margin-left:-990%;
}

.small-circle {
    width: 100px; /* Adjust the width to be smaller than the big circle */
    height: 100px; /* Adjust the height to be smaller than the big circle */
    border: 6px solid #B8FEA4;
    border-radius: 50%;
    position: absolute; /* Add this to ensure proper positioning */
    top: 28px;
    left: 30px; /* Adjust the left value to position inside the big circle */
    margin-left: 2; /* Ensure no extra margin */
}
.circle-container {
    position: relative; /* Ensure proper absolute positioning of the circles inside */
    width: 10px; /* Adjust as needed */
    height: 10px; /* Adjust as needed */
}
.circle-container2 {
    position: relative; /* Ensure proper absolute positioning of the circles inside */
    width: 10px; /* Adjust as needed */
    height: 10px; /* Adjust as needed */
}
.big-circle2 {
    width: 130px;
    height: 130px;
    border: 12px solid #89C2EC;
    border-radius: 50%;
    top: -200px;
    left: 1255px;
    position: absolute; /* Add this to ensure proper positioning */
    margin-left:-1000%;
    margin-right:10%;
}

.small-circle2 {
    width: 80px; /* Adjust the width to be smaller than the big circle */
    height: 80px; /* Adjust the height to be smaller than the big circle */
    border: 12px solid #89C2EC;
    border-radius: 50%;
    position: absolute; /* Add this to ensure proper positioning */
    top: 20px;
    left: 20px; /* Adjust the left value to position inside the big circle */
    margin-left: 2; /* Ensure no extra margin */
}



.quote-section {
    max-width: 1356px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 20px 20px;
    text-align: center;
    margin-top:5%;
}

.quote-content {
    position: relative;
}

.quote-text {
    font-size: 34px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 20px;
}

.highlight {
    color: #4CAF50;
}

.quote-author {
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
}

/* Decorative elements */
.quote-content::before,
.quote-content::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, rgba(76,175,80,0.2) 0%, rgba(255,255,255,0) 70%);
    z-index: -1;
}

.quote-content::before {
    top: -50px;
    left: -50px;
}

.quote-content::after {
    bottom: -50px;
    right: -50px;
}
/* Responsive styles */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .left-content, .right-content {
        width: 100%;
    }

    .right-content img {
        margin-top: 20px;
        margin-left: 0;
    }

    .image-grid {
        flex-direction: column;
    }
}

.get-in-touch-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.form-wrapper {
    margin-left: 8%;
    width: 45%;
    text-align: center;
    margin-top: 5%;
    margin-left: -25%;
}

#getinheader1 {
    margin-left: -35%;
    text-align: center;
    font-size: 55px;
}

#getinheader2 {
    margin: 0;
    padding: 0;
    margin-left: -30%;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

#getinheader3 {
    margin: 0;
    padding: 0;
    margin-left: -49%;
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Inter', sans-serif;
}
.learn-image2 {
    width: 50%;
    height: auto;
    margin-left: 0;
    margin-top: 5%;
    padding: 0;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15%;
}

.contact-form input,
.contact-form textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid black;
}

.contact-form textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid black;
    height: 100px;
    background-color: #F2F2F2;
    color: black;
}

.contact-form textarea:focus {
    outline: none;
    border-color: #333;
}

.submit-btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 375px;
}

.submit-btn:hover {
    background-color: #F2F2F2;
}


    
    #Copy {
    margin-left: 36%;
    margin-top: 5%;
    }
    .separator {
    width: 1px; /* Width of the separator */
    background: linear-gradient(to bottom, #222826,#066DB7,#61C977); /* Gradient colors */
    margin: 0 10px; /* Adjust spacing between sections */
    }
    .sep{
    width: 1px; /* Width of the separator */
    background: linear-gradient(to bottom, #222826,#066DB7,#61C977); /* Gradient colors */
    margin: 0 10px; /* Adjust spacing between sections */
    
    }
/* Example styles for Learn CCUS page */
.left-content {
    width: 50%;
    padding: 20px;
    text-align: left;
}

.left-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.left-content p {
    font-size: 1.1em;
    line-height: 1.6;
}

.right-content {
    width: 50%;
    text-align: center;
    padding: 20px;
}

.right-content img {
    max-width: 100%;
    height: auto;
}
.nav-toggle{
    display:none;

}
footer {
    background-color: #ffffff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
    margin-top:5%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    margin-left:5%;
    margin-right:5%;

}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-basis: 70%;
}

.link-column {
    flex-basis: 18%;
}

.link-column h4 {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
}

.link-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.link-column ul li {
    margin-bottom: 8px;
}

.link-column ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.footer-brand {
    flex-basis: 25%;
    text-align: right;
}

.footer-brand img {
    max-width: 180px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid #000;
    border-radius: 12px;
    padding: 5px;
    width: fit-content;
    margin-left: 38%;
}

.social-icons a {
    margin-top:5%;
    margin-left: 20px;
    margin-right:10px;
}

.social-icons img {
    width: 20px;
    height: 20px;
}

.footer-copyright {
    text-align: center;
    margin-top: 40px;
    margin-bottom:-2%;
    font-size: 12px;
    color: #666;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-links {
        flex-wrap: wrap;
    }

    .link-column {
        flex-basis: 45%;
        margin-bottom: 20px;
    }

    .footer-brand {
        text-align: center;
        margin-top: 20px;
    }

    .social-icons {
        margin: 10px auto 0;
    }
    .separator{
        display:none;
    }
}

@media (max-width: 480px) {
    .link-column {
        flex-basis: 100%;
    }
}
